.image-gallery{
    padding-top:70px;
}

/*GRAY*/

#gray img{
    filter:grayscale(1);
    -webkit-filter:grayscale(1);
    -moz-filter:grayscale(1);
}

#gray img:hover{
    filter:grayscale(0);
    -webkit-filter:grayscale(0);
    -moz-filter:grayscale(0);
}

/*BLUR*/

#blur img{
    filter:blur(5px);
    -webkit-filter:blur(5px);
    -moz-filter:blut(5px);
}

#blur img:hover{
    filter:blur(0);
    -webkit-filter:blur(0);
    -moz-filter:blut(0);
}

/*SEPIA*/

#sepia img{
    filter:sepia(1);
    -webkit-filter:sepia(1);
    -moz-filter:sepia(1);
}

#sepia img:hover{
    filter:sepia(0);
    -webkit-filter:sepia(0);
    -moz-filter:sepia(0);
}

/*INVERT*/

#invert img{
    filter:invert(1);
    -webkit-filter:invert(1);
    -moz-filter:invert(1);
}

#invert img:hover{
    filter:invert(0);
    -webkit-filter:invert(0);
    -moz-filter:invert(0);
}

/*OPACITY*/

#opacity img{
    opacity: .3
}

#opacity img:hover{
    opacity: 1;
}

/*SATURATE*/

#saturate img{
    filter:saturate(500%);
    -webkit-filter:saturate(500%);
    -moz-filter:saturate(500%);
}

#saturate img:hover{
    filter:saturate(100%);
    -webkit-filter:saturate(100%);
    -moz-filter:saturate(100%);
}

/*CONTRAST*/

#contrast img{
    filter:contrast(.5);
    -webkit-filter:contrast(.5);
    -moz-filter:contrast(.5);
}

#contrast img:hover{
    filter:contrast(1);
    -webkit-filter:contrast(1);
    -moz-filter:contrast(1);
}

/*BRIGHTNESS*/

#brightness img{
    filter:brightness(.7);
    -webkit-filter:brightness(.7);
    -moz-filter:brightness(.7);
}

#brightness img:hover{
    filter:brightness(1);
    -webkit-filter:brightness(1);
    -moz-filter:brightness(1);
}

/*HUE-ROTATE*/

#hue-rotate img{
    filter:hue-rotate(90deg);
    -webkit-filter:hue-rotate(90deg);
    -moz-filter:hue-rotate(90deg);
}

#hue-rotate img:hover{
    filter:hue-rotate(20deg);
    -webkit-filter:hue-rotate(20deg);
    -moz-filter:hue-rotate(20deg);
}

/*DROP SHADOW*/

#drop-shadow img{
    filter:drop-shadow(15px 15px 10px rgba(0,0,0,1));
    -webkit-filter:drop-shadow(15px 15px 10px rgba(0,0,0,1));
    -moz-filter:drop-shadow(15px 15px 10px rgba(0,0,0,1));
}

#drop-shadow img:hover{
    filter:drop-shadow(none);
    -webkit-filter:drop-shadow(none);
    -moz-filter:drop-shadow(none);
}