.image-gallery{
    padding-top:70px;
}

/*GRAY*/

#gray img{
    filter:grayscale(1);
    -webkit-filter:grayscale(1);
    -moz-filter:grayscale(1);
}

#gray img:hover{
    filter:grayscale(0);
    -webkit-filter:grayscale(0);
    -moz-filter:grayscale(0);
}

/*BLUR*/

#blur img{
    filter:blur(5px);
    -webkit-filter:blur(5px);
    -moz-filter:blut(5px);
}

#blur img:hover{
    filter:blur(0);
    -webkit-filter:blur(0);
    -moz-filter:blut(0);
}

/*SEPIA*/

#sepia img{
    filter:sepia(1);
    -webkit-filter:sepia(1);
    -moz-filter:sepia(1);
}

#sepia img:hover{
    filter:sepia(0);
    -webkit-filter:sepia(0);
    -moz-filter:sepia(0);
}

/*INVERT*/

#invert img{
    filter:invert(1);
    -webkit-filter:invert(1);
    -moz-filter:invert(1);
}

#invert img:hover{
    filter:invert(0);
    -webkit-filter:invert(0);
    -moz-filter:invert(0);
}

/*OPACITY*/

#opacity img{
    opacity: .3
}

#opacity img:hover{
    opacity: 1;
}